---
defaults: &defaults
  docker:
    - image: circleci/buildpack-deps:xenial-scm
  working_directory: ~/ENCODE-DCC/segway-pipeline

machine_defaults: &machine_defaults
  machine:
    image: ubuntu-1604:201903-01
  working_directory: ~/ENCODE-DCC/segway-pipeline

py37: &py37
  docker:
    - image: circleci/python:3.7.3-stretch
  working_directory: ~/ENCODE-DCC/segway-pipeline

commands:
  run_tox:
    description: Install and run tox with a given environment
    parameters:
      toxenv:
        description: The name of the environment as per tox.ini, e.g. py37 or lint
        type: string
      extra_args:
        description: Extra arguments that are consumed only when running pytest
        type: string
        default: ''
    steps:
      - run: sudo pip install tox
      - run: tox -e << parameters.toxenv >> -- << parameters.extra_args >>

  set_environment_variables:
    description: Set docker image env vars for builds and WDL test runs
    steps:
      - run:
          command: |
            echo "export SEGWAY_DOCKER_IMAGE_TAG=quay.io/encode-dcc/${CIRCLE_PROJECT_REPONAME}:${CIRCLE_BRANCH}_${CIRCLE_WORKFLOW_ID}" >> ${BASH_ENV}
            echo "export QUAY_REPO=segway-pipeline" >> ${BASH_ENV}

  get_pipeline_version:
    description: get pipeline version from __init__.py
    steps:
      - run:
          command: |
            PIPELINE_VERSION=$(python -c "import segway_pipeline;print(segway_pipeline.__version__)")
            echo "export PIPELINE_VERSION=${PIPELINE_VERSION}" >> ${BASH_ENV}

  install_h5diff:
    description: intall h5diff HDF5 tool
    steps:
      - run:
          command: |
            sudo apt-get install -y hdf5-tools

  install_shellcheck:
    description: Install shellcheck by downloading the binary, don't want to apt-get update
    steps:
      - run: curl -s https://storage.googleapis.com/shellcheck/shellcheck-stable.linux.x86_64.tar.xz | tar xJ && sudo mv shellcheck-stable/shellcheck /usr/local/bin

version: 2.1
jobs:
  lint:
    <<: *py37
    steps:
      - checkout
      - install_shellcheck
      - run_tox:
          toxenv: lint

  test_py37:
    <<: *py37
    steps:
      - checkout
      - run_tox:
          toxenv: py37

  test_wdl:
    <<: *machine_defaults
    description: Generic testing protocol for wdl tasks
    parameters:
      tag:
        description: pytest-workflow tag, e.g. functional, integration, test_align
        type: string
      num_parallel_workflows:
        description: Max number of tests to execute in parallel
        type: integer
      resource_class:
        description: The machine resource class to run the test with
        type: string
        default: medium
    resource_class: << parameters.resource_class >>
    steps:
      - checkout
      - set_environment_variables
      - install_h5diff
      - run:
          name: Run pytest-workflow WDL tests using tox
          command: |
            pyenv global 3.7.0
            pip install --upgrade pip
            pip install tox
            tox -e wdl -- --tag << parameters.tag >> --wt << parameters.num_parallel_workflows >>

  build:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - set_environment_variables
      - run:
          name: build main docker image
          command: |
            docker login -u=${QUAY_ROBOT_USER} -p=${QUAY_ROBOT_USER_TOKEN} quay.io
            docker pull quay.io/encode-dcc/${QUAY_REPO}:template
            docker build \
              --cache-from quay.io/encode-dcc/${QUAY_REPO}:template \
              --build-arg GIT_COMMIT_HASH=${CIRCLE_SHA1} \
              --build-arg BRANCH=${CIRCLE_BRANCH} \
              --build-arg BUILD_TAG=${SEGWAY_DOCKER_IMAGE_TAG} \
              -t ${SEGWAY_DOCKER_IMAGE_TAG} \
              -t quay.io/encode-dcc/${QUAY_REPO}:template \
              -f Dockerfile .
            docker push ${SEGWAY_DOCKER_IMAGE_TAG}
            docker logout

  push_template:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - set_environment_variables
      - get_pipeline_version
      - run:
          command: |
            docker login -u=${QUAY_ROBOT_USER} -p=${QUAY_ROBOT_USER_TOKEN} quay.io
            docker pull ${SEGWAY_DOCKER_IMAGE_TAG}
            docker tag ${SEGWAY_DOCKER_IMAGE_TAG} quay.io/encode-dcc/segway-pipeline:${PIPELINE_VERSION}
            docker tag ${SEGWAY_DOCKER_IMAGE_TAG} quay.io/encode-dcc/segway-pipeline:template
            docker push quay.io/encode-dcc/segway-pipeline:${PIPELINE_VERSION}
            docker push quay.io/encode-dcc/segway-pipeline:template
            docker logout
          no_output_timeout: 30m

workflows:
  version: 2
  build_workflow:
    jobs:
      - build
      - lint
      - test_py37:
          requires:
            - build
            - lint
      - test_wdl:
          name: test_wdl_unit
          tag: unit
          num_parallel_workflows: 8
          requires:
            - build
            - lint
      - test_wdl:
          name: test_wdl_integration
          resource_class: large
          tag: integration
          num_parallel_workflows: 8
          requires:
            - build
            - lint
    #   - test_wdl:
    #       name: test_wdl_functional
    #       resource_class: xlarge
    #       tag: "functional"
    #       num_parallel_workflows: 8
    #       requires:
    #         - build
    #         - lint
      - push_template:
          filters:
            branches:
              only:
                - dev
                - master
          requires:
            # Currently no WDL tests, TODO add back when WDL tests are added.
            - test_wdl_unit
            - test_wdl_integration
            # - test_wdl_functional
            - test_py37
